/* Change the background of the entire visible page */
body {
    background-color: #FF7F7F ; /* Very light red */
}

/* Style for all paragraphs */
p {
    color:lightgrey;
    font-size: 676px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid black; /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */

